In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Read and clean data

## Final Demo DF

In [2]:
final_demo_df = pd.read_csv("../../data/raw/df_final_demo.txt")

print('Check the shape (rows, columns')
print(final_demo_df.shape)

print('\nColumn names:')
print(final_demo_df.columns)

print('\nData types:')
print(final_demo_df.dtypes)

print('\nMissing values:')
print(final_demo_df.isnull().sum())

Check the shape (rows, columns
(70609, 9)

Column names:
Index(['client_id', 'clnt_tenure_yr', 'clnt_tenure_mnth', 'clnt_age', 'gendr',
       'num_accts', 'bal', 'calls_6_mnth', 'logons_6_mnth'],
      dtype='object')

Data types:
client_id             int64
clnt_tenure_yr      float64
clnt_tenure_mnth    float64
clnt_age            float64
gendr                object
num_accts           float64
bal                 float64
calls_6_mnth        float64
logons_6_mnth       float64
dtype: object

Missing values:
client_id            0
clnt_tenure_yr      14
clnt_tenure_mnth    14
clnt_age            15
gendr               14
num_accts           14
bal                 14
calls_6_mnth        14
logons_6_mnth       14
dtype: int64

In [10]:
# change column names for standardization
new_column_names_final_demo_df = {
    'client_id': 'client_id',
    'clnt_tenure_yr': 'client_tenure_years',
    'clnt_tenure_mnth': 'client_tenure_months',
    'clnt_age': 'client_age',
    'gendr': 'gender',
    'num_accts': 'num_accounts',
    'bal': 'balance',
    'calls_6_mnth': 'calls_last_6_months',
    'logons_6_mnth': 'logons_last_6_months'
}

final_demo_df.rename(columns=new_column_names_final_demo_df, inplace=True)

In [11]:
final_demo_df.head()

,client_id,client_tenure_years,client_tenure_months,client_age,gender,num_accounts,balance,calls_last_6_months,logons_last_6_months
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0

## Final Experiment Clients DF

In [5]:
final_experiment_clients_df = pd.read_csv("../../data/raw/df_final_experiment_clients.txt")

print('Check the shape (rows, columns')
print(final_experiment_clients_df.shape)

print('\nColumn names:')
print(final_experiment_clients_df.columns)

print('\nData types:')
print(final_experiment_clients_df.dtypes)

print('\nMissing values:')
print(final_experiment_clients_df.isnull().sum())

Check the shape (rows, columns
(70609, 2)

Column names:
Index(['client_id', 'Variation'], dtype='object')

Data types:
client_id     int64
Variation    object
dtype: object

Missing values:
client_id        0
Variation    20109
dtype: int64

In [12]:
# rename column for standardization
final_experiment_clients_df.rename(columns={'Variation':'variation'}, inplace=True)

In [13]:
final_experiment_clients_df.head()

   client_id variation
0    9988021      Test
1    8320017      Test
2    4033851   Control
3    1982004      Test
4    9294070   Control