In [10]:
import pandas as pd
df = pd.read_csv("final_cleaned_data.csv")
df

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,8320017,39393514_33118319366,960651974_70596002104_312201,confirm,2017-04-05 13:10:05
2,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:03
3,1982004,618934751_10082078917,132494692_73738638511_70823,confirm,2017-04-17 12:02:42
4,9294070,489274391_63794562906,116640698_27328181095_188045,start,2017-04-17 11:16:28
...,...,...,...,...,...
120152,9563467,358754208_29929976792,898272434_72817818195_285148,confirm,2017-06-04 10:21:23
120153,9878184,776966655_24123118748,603596917_5015735635_745321,start,2017-06-12 19:48:47
120154,9895983,473024645_56027518531,498981662_93503779869_272484,confirm,2017-06-15 19:55:09
120155,9668240,388766751_9038881013,922267647_3096648104_968866,confirm,2017-05-24 19:07:35
120156,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09