In [25]:
import pandas as pd
df = pd.read_csv("combined_cleaned_data.csv")
df

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
744636,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
744637,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
744638,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
744639,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
744640,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [27]:
# drop columns
df = df.drop(columns=['visitor_id', 'visit_id'])
# change the naming of the steps to numeric values to ensure order
replacement_dict_steps = {
    'start' : 0,
    'step_1' : 1,
    'step_2' : 2,
    'step_3' : 3,
    'confirm' : 4
}

df['process_step'] = df['process_step'].map(replacement_dict_steps)

In [33]:
# sort df by client_id and date_time
df = df.sort_values(by=['client_id', 'date_time'])
# print(kpi_df)

df.head(50)

        client_id  process_step            date_time
283823        169             0  2017-04-12 20:19:36
283822        169             1  2017-04-12 20:19:45
283821        169             2  2017-04-12 20:20:31
283820        169             3  2017-04-12 20:22:05
283819        169             4  2017-04-12 20:23:09
620520        336             0  2017-06-01 07:26:55
620397        336             0  2017-06-01 07:42:43
439053        546             0  2017-06-17 10:03:29
439052        546             1  2017-06-17 10:03:39
439051        546             2  2017-06-17 10:03:52
439050        546             3  2017-06-17 10:05:19
439049        546             4  2017-06-17 10:05:42
71583         555             0  2017-04-15 12:57:56
71582         555             1  2017-04-15 12:58:03
71581         555             2  2017-04-15 12:58:35
71580         555             3  2017-04-15 13:00:14
71579         555             4  2017-04-15 13:00:34
137375        647             0  2017-04-12 15:41:28
137374        647             1  2017-04-12 15:41:35
137373        647             2  2017-04-12 15:41:53
137372        647             3  2017-04-12 15:45:02
137369        647             4  2017-04-12 15:47:45
244053        722             0  2017-04-19 14:50:10
244052        722             1  2017-04-19 14:50:20
244051        722             2  2017-04-19 14:50:56
244050        722             1  2017-04-19 14:51:12
244049        722             0  2017-04-19 14:56:16
244048        722             1  2017-04-19 14:56:18
244047        722             2  2017-04-19 14:56:37
244046        722             3  2017-04-19 14:57:27
244045        722             4  2017-04-19 15:00:09
440223        786             0  2017-06-01 11:00:22
440222        786             0  2017-06-01 11:01:20
440221        786             1  2017-06-01 11:01:26
440220        786             2  2017-06-01 11:03:28
440219        786             3  2017-06-01 11:04:08
440218        786             4  2017-06-01 11:05:34
587138        805             0  2017-06-08 01:10:29
587137        805             1  2017-06-08 01:11:49
587148        805             0  2017-06-15 19:09:13
587147        805             1  2017-06-15 19:09:19
587146        805             2  2017-06-15 19:09:26
587145        805             2  2017-06-15 19:11:21
587144        805             0  2017-06-15 19:11:28
587206        805             0  2017-06-17 19:23:17
587205        805             1  2017-06-17 19:23:20
499877        832             0  2017-06-16 10:38:38
499876        832             1  2017-06-16 10:38:47
499875        832             2  2017-06-16 10:39:19
499874        832             1  2017-06-16 10:39:30

In [35]:
# Detect backward steps (errors) for all clients
df['backward_step'] = df.groupby('client_id')['process_step'].diff() < 0

# Count the number of unique clients who experienced at least one error
clients_with_errors = df[df['backward_step']]['client_id'].nunique()

# Count the total number of errors for each client
errors_per_client = df[df['backward_step']].groupby('client_id').size()

# Total number of errors across all clients
total_errors = df['backward_step'].sum()

# Output results
print(f"Number of clients with at least one error: {clients_with_errors}")
print("Errors per client:")
print(errors_per_client)
print(f"Total number of errors across all clients: {total_errors}")

Number of clients with at least one error: 42424
Errors per client:
client_id
722        2
805        2
832        1
1028       2
1197       1
          ..
9998460    1
9998980    1
9999150    1
9999729    2
9999768    3
Length: 42424, dtype: int64
Total number of errors across all clients: 74980

In [37]:
# Crear un DataFrame con los resultados
results_df = errors_per_client.reset_index()
results_df.columns = ['client_id', 'number_of_errors']

# Guardar el DataFrame en un archivo CSV
results_df.to_csv("errors_per_client.csv", index=False)

# Mensaje de confirmaciÃ³n
print("El archivo 'errors_per_client.csv' se ha guardado correctamente.")

El archivo 'errors_per_client.csv' se ha guardado correctamente.